.img-product{
    width: 100px;
    height: 100px;
   
}
.img-color{
    width: 50px !important;
    height: 50px;
}
@media screen and (max-width: 768px) {
    .img-product{
        width: 100px !important;
        height: 50px;
       
    }
    .img-color{
        width: 30px !important;
        height: 20px !important;
    }
}